GithubTraining/.vs/GithubTraining/v15/Server/sqlite3/storage.ide-wal
GithubTraining/.vs/GithubTraining/v15/Server/sqlite3/storage.ide-shm
GithubTraining/.vs/GithubTraining/v15/Server/sqlite3/storage.ide
GithubTraining/.vs/GithubTraining/v15/Server/sqlite3/db.lock
